* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    color: blue;
}

/* Navbar  */
.navbar.bg-initial {
    background-color: transparent;
}
.navbar.bg-scrolled {
      background-color: white;
  }